body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

.cover {
    width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px red;
}

.btn {
    background: red;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
}